app.get('/customers', async (req, res) => {
    {{!-- let [customers] = await connection.execute(
        'SELECT * FROM Customers INNER JOIN Companies 
        ON Customers.company_id = Companies.company_id'); --}}
    let [customers] = await connection.execute({
            'sql':`
            SELECT * from Customers
                JOIN Companies ON Customers.company_id = Companies.company_id;
            `,
            nestTables: true

    });
    res.render('customers/index', {
        'customers': customers
    })
})

{
    {{!-- <td>{{Customers.first_name}}</td>
<td>{{Customers.last_name}}</td>
<td>{{Companies.name}}</td> --}}

}
// 5.2  Create a route to display a form to add new customer
app.get('/customers/create', async(req,res)=>{
    let [companies] = await connection.execute('SELECT * from Companies');
    res.render('customers/add', {
        'companies': companies
    })
})

//  5.3 Processing the Form to add a new Customer
app.post('/customers/create', async(req,res)=>{
    let {first_name, last_name, rating, company_id} = req.body;
    let query = 'INSERT INTO Customers (first_name, last_name, rating, company_id) VALUES (?, ?, ?, ?)';
    let bindings = [first_name, last_name, rating, company_id];
    await connection.execute(query, bindings);
    res.redirect('/customers');
})

//  5.4 Display a Form to Update a specific Customer
app.get('/customers/:customer_id/edit', async (req, res) => {
    let [customers] = await connection.execute('SELECT * from Customers WHERE customer_id = ?', [req.params.customer_id]);
    let [companies] = await connection.execute('SELECT * from Companies');
    let customer = customers[0];
    res.render('customers/edit', {
        'customer': customer,
        'companies': companies
    })
})

//  5.5 Processing the Update
app.post('/customers/:customer_id/edit', async (req, res) => {
    let {first_name, last_name, rating, company_id} = req.body;
    let query = 'UPDATE Customers SET first_name=?, last_name=?, rating=?, company_id=? WHERE customer_id=?';
    let bindings = [first_name, last_name, rating, company_id, req.params.customer_id];
    await connection.execute(query, bindings);
    res.redirect('/customers');
})
